<!DOCTYPE html>
<html lang="en">

<head>
    <%- //include('../partials/head'); %>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <style media="screen">
            *,
            *:before,
            *:after {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }

            body {
                background-color: white;
            }

            .background {
                width: 430px;
                height: 520px;
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
            }

            .background .shape {
                height: 200px;
                width: 200px;
                position: absolute;
                border-radius: 50%;
            }

            .shape:first-child {
                background: linear-gradient(#1845ad,
                        #23a2f6);
                left: -80px;
                top: -80px;
            }

            .shape:last-child {
                background: linear-gradient(to right,
                        #ff512f,
                        #f09819);
                right: -30px;
                bottom: -80px;
            }

            form {
                /* height: 520px; */
                /* width: 400px; */
                /* background-color: rgba(255, 255, 255, 0.13); */
                /* position: absolute; */
                /* transform: translate(-50%, -50%); */
                top: 50%;
                left: 50%;
                border-radius: 10px;
                /* backdrop-filter: blur(10px); */
                /* border: 2px solid rgba(255, 255, 255, 0.1); */
                /* box-shadow: 0 0 40px rgba(8, 7, 16, 0.6); */
                /* padding: 50px 35px; */
            }

            form * {
                font-family: 'Poppins', sans-serif;
                /* color: #ffffff; */
                /* letter-spacing: 0.5px; */
                /* outline: none; */
                /* border: none; */
            }

            form h3 {
                font-size: 32px;
                /* font-weight: 500; */
                /* line-height: 42px; */
                /* text-align: center; */
            }

            label {
                display: block;
                margin-top: 30px;
                font-size: 16px;
                font-weight: 500;
            }

            input {
                display: block;
                height: 35px;
                /* width: 100%; */
                /* background-color: rgba(255, 255, 255, 0.07); */
                border-radius: 4px;
                padding: 0 10px;
                /* margin-top: 8px; */
                font-size: 14px;
                font-weight: 300;
            }

            */ ::placeholder {
                color: #e5e5e5;
            }

            button {
                margin-top: 50px;
                width: 100%;
                background-color: #ffffff;
                color: #080710;
                padding: 15px 0;
                font-size: 18px;
                font-weight: 600;
                border-radius: 5px;
                cursor: pointer;
            }

            form input[type=submit] {
                margin-left: 1%;
                background: rgb(1, 3, 3);
                border: 1px solid #9fc7c2;
                color: white;
                text-shadow: 0 1px rgba(255, 255, 255, 0.3);
            }
        </style>
</head>

<body class="container">

    <header>
        <%- //include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <!-- <div class="background">
                <div class="shape"></div>
                <div class="shape"></div>
            </div> -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="studentprofile/<%= data.username %>">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="studentcourses/<%= data.username %>">My Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="logout/<%= data.username %>">Logout</a>
                        </li>

                    </ul>
                </div>
            </nav>

            <form action="/record/savechanges" method="post" id="register-form">

                <!-- <h3>Create User</h3> -->
                <label>Firstname :</label>
                <input type="text" value="<%= data['firstname'] %>" name="firstname" readonly>
                <label>Lastname :</label>
                <input type="text" value="<%= data['lastname'] %>" name="lastname" readonly>

                <label>Username :</label>
                <input type="text" value="<%= data['username'] %>" name="username">

                <label>Password :</label>
                <input type="text" value="<%= data['password'] %>" name="password">

                <label>Email : &nbsp; &nbsp; &nbsp; &nbsp;</label>
                <input type="text" value="<%= data['email'] %>" name="email">

                <label>Mobile : &nbsp; &nbsp; &nbsp;</label>
                <input type="text" value="<%= data['mobile'] %>" id="num" name="mobile">

                <label>Courses : &nbsp; &nbsp; </label>
                <input type="text" value="<%= data['course'] %>" name="course" readonly><br>

                <input type="submit" id="form_submit" value="Save">
            </form>

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        $("#form_submit").click((e) => {
            e.preventDefault();
            const data = $("#register-form").serialize();
            console.log(data);

            $.ajax({
                url: "/record/savechanges",
                data: $("register-form").serialize,
                context: document.body,
                method: "POST",
            }).done(function (data) {
                console.log(data);
            });

        });
    </script>
</body>

</html>